---
title: "A Three-Part View on Solid Web Forms"
---

{:.comment data-author="RT"}
Titles of resources papers usually focus on saying that the system is and does.
E.g. a title such as "MySystemName: Decentralizing Forms on the Web"

<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ieben Smessaert', 'https://smessaert.be', 'https://solid.smessie.com/profile/card#me' %>

{:#affiliations}
- {:#myaffiliation} Ghent University.

<%= section 'abstract' %>
</header>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction' %>
  <%= section 'literature' %>
  <%= section 'requirements' %>
  <%= section 'architecture' %>
  <%= section 'implementation' %>
  <%= section 'evaluation' %>
  <%= section 'conclusion' %>
  <%= section 'appendices' %>
</main>

<footer></footer>
